body{
	background-color: #373737;
	color: #fff;
	font-family: 'Teko', sans-serif;
}
.body-number-2{
	margin-top:  15px !important;
	margin-bottom:  15px !important;
	height: 95%;
	width: 95%;
	background-color: #000;
	margin: 0 auto;
	border-radius: 20px;
	background-image: url(assets/img/side_img-2.png);
	background-size: 100%;
	background-repeat: no-repeat ;
	/*background-position: right;*/
	border: 1px solid #d14b4a;
	/*overflow-y: scroll;	*/
}
.boundory{
	padding: 15px;

}
h1{
	color: #d14b4a;
	font-size: 35px;
	margin-top: 20px;
	font-weight: 700;
}
.my-title{
	line-height: 0;
	/*letter-spacing: 3px;*/
	font-size: 20px;
}
.me{
	height: 200px;
	width: auto;
	border-radius: 20px;
}
.about p{
	margin-bottom: 0;
	font-family: 'Shantell Sans', cursive;
}
.about-2{
	font-size: 13px;
text-align: justify;
}
.all-mediya {
	margin-top: 30px;
}
.all-mediya ul{
	list-style: none;
}

.all-mediya ul li{
	height: 35px;
	width: 35px;
	background-color: #d14b4a;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	margin-left: 15px;
}
.all-mediya ul li:first-child{
	margin-left: -30px;
}
.all-mediya ul li a{
	text-decoration: none;
	color: #fff;
}
.signature{
	justify-content: right;
	margin-top: -10px
}
.signature img{
	height: 30px;
	/*width: auto;*/
}

.portfolio h2{
	text-transform: uppercase;
	font-size: 30px;
	color: #d14b4a;
}
.portfolio .portfolio-img{
	max-width: 100%;
}

.portfolio h5{
	margin-top: 20px;
	line-height: 0;
}
.portfolio p{
	font-family: 'Shantell Sans', cursive;
	font-size: 12px;
}
.portfolio p a{
	color: #fff;
}
.futter{
	background-color: #d14b4a;
	border-radius:  20px;
}



@media only screen and (min-width: 601px) {
  body {
    display: none;
  }
}