
body{
    font-family: "Poppins", sans-serif !important; 
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.my-container{
    max-width: 1215px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;

}
/* top-bar */
.top-bar{
    background-color: #020e28;
    padding: 25px 0;
    text-align: center;
    color: #fff;
}
.top-bar .topber-link{
    text-decoration: none;
    color: #fff;
}
.top-bar .topber-link .topber-icon{
    margin-right: 20px;
    color: #027bfe;
}
.top-bar .devaider{
    margin: 0 20px;
}
/* nav bar */
nav{
    padding: 20px 0;
}
nav .nav-option ul{
    list-style: none;
    display: flex;justify-content: center;
    align-items: center;
    margin: 0 !important;
}
nav .nav-option ul li{
    transition: .5s;
}
nav .nav-option ul li a:hover{
    color: #fdbe00;
}
nav .nav-option ul li a:hover::after{
    width: 80%;
    left: 10px;
}
nav .nav-option ul li a{
    color: #020e28;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
nav .nav-option ul li a::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background-color: #fdbe00;
    left: 0;
    bottom: -35px;
}
nav .nav-btn .btn{
    background-image: linear-gradient(to right, #fdbe00, #007dff);
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
}

/* baner-section */
.baner-section{
    background-image: url(asets/img/banner-main-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
}
.baner-section .header-content-area h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.yellow-color{
    color: #fdbe00;
}
.bulu-color{
    color: #007dff;
}
.baner-section .header-content-area .baner-sub-title{
    color: #fff;
    font-size: 26px;
    max-width: 430px;
}
/* banner slider */
.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.bullets {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 70px;
}

.bullet {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #fff;
}

.bullet.active {
    background-color: #ffffff;
}
/* why-anncar section */
.why-anncar{
    padding: 100px 0 80px 0;
    background-color: #fff;
}
.why-anncar .all-cards{
    box-shadow: 0 0 15px 0 #e6e4e4;
    margin-bottom: 80px;
}
.why-anncar .all-cards .card-items{
    padding: 32px 25px 32PX 36px;
}
.why-anncar .all-cards .card-items .card-headeres{
    display: flex;
    margin-bottom: 20px;
}
.card-items .card-headeres .card-image{
    margin-right: 35px;
}
.card-items .card-headeres .card-heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.why-anncar .all-cards  .card-items .card-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.why-anncar .row .center-point{
    border: 1px solid #ededed;
    border-top: 0;
    border-bottom: 0;
}
.why-anncar .why-anncar-area .heading{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-bottom: 36px;
    color: #004377
}
.why-anncar .why-anncar-area .heading::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 110px;
    background-color: #007dff;
    left: 0;
    bottom: -12px;
}
.why-anncar .why-anncar-area .text{
    max-width: 510px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
/* cards-section */

.cards-section{
    background-image: url(asets/img/card-sec-bg-imag.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px 0;
}
.cards-section .parents-cards .card-heading{
    font-style: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 14px;
    margin-bottom: 25px;
    position: relative;
}
.cards-section .parents-cards .card-heading::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 85px;
    background-color: #007dff;
    left: 0;
    bottom: -12px;
}
 .parents-cards .card-texts{
    color: #fff;
    font-size: 15.5px;
    max-width: 451px;
}
.cards-section .row{
    justify-content: space-between;
}
.cards-section .row:first-child{
    margin-bottom: 85px;
}


.top-brands{
    padding: 65px 0;
}
.top-brands .brands-main-heading{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #004377;
    margin-bottom: 50px;
    position: relative;
}
.top-brands .brands-main-heading::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 175px;
    background-color: #007dff;
    left: 0;
    bottom: -15px;
}
.top-brands .inner-col .sub-heading{
    font-size: 25px;
    line-height: 31px;
    font-weight: 700;
}
.top-brands .inner-col .brands-text{
    font-size: 14px;
    line-height: 20px;
    max-width: 220px;
}
.top-brands .inner-col .row:first-child{
    margin-bottom: 45px;
}
.top-brands .imgs-div{
    text-align: right;
    position: relative;
}
.top-brands .imgs-div .after-img{
    position: absolute;
    left: 0;
    top: -22px;
}
/* your-need-section */
.your-need-section{
    padding: 80px 0;
    background-image: url(asets/img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.your-need-section .need-text-box{
    background-color: #141d32;
    padding: 50px 40px 40px 40px;
    position: absolute;
    top: 28%;
    left: 59.5%;
    transform: translate(-50%);
}
.your-need-section .need-text-box .needs-heading{
    font-style: 36px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #007dff;
    margin-bottom: 20px;
}
.your-need-section .need-text-box .need-text{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}
.your-need-section .need-text-box button{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    line-height: 16px;
    background-color: #007dff;
}
/* footer */
footer{
    padding: 40px 0 15px 0;
    background-color: #020e28;
    color: #fff;
}
footer .logo-box{
    text-align: center;
}
footer .logo-box .footer-logo{
    width: 150px;
    margin-bottom: 50px;
}
footer .fooer-heading{
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 25px;
}
footer .footer-text{
    font-size: 14px;
    line-height: 20px;
    max-width: 245px;
    margin-bottom: 20px;
}
footer .mediya i{
    color: #fff;
    font-size: 28px;
    background-color: #000;
    overflow: hidden;
    margin-right: 8px;
}
footer .footer-link{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 7px;
}
footer .footer-link i{
    color: #fdbe00;
    margin-right: 5px;
}
footer  button{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #fdbe00, #007dff);
    border-radius: 50px;
    padding: 12px 30px;
    transition: .5s;
}
footer  button:hover{
    background-image: linear-gradient(to right, #007dff, #fdbe00);
    color: #000;
}
/* copy-write */
.copy-write{
    background-color: #000818;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.copy-write p{
    font-size: 12px;
    margin: 0;
}

/* rispponsive */
@media only screen and (max-width: 1200px) {
    .card-items .card-headeres .card-image {
        margin-right: 20px;
    }
    .why-anncar .all-cards .card-items {
        padding: 25px;
    }
    .your-need-section .need-text-box {
        top: 20%;
        left: 50%;
    }
  }
  @media only screen and (max-width: 1024px){
    .nav-btn{
        display: none;
    }
    nav .nav-option ul li a::after {
        bottom: -26px;
    }
    .baner-section .header-content-area h1 {
        font-size: 40px;
    }
    .baner-section .header-content-area .baner-sub-title {
        font-size: 18px;
    }
    .why-anncar .all-cards .card-items .card-headeres {
        display: unset;
    }
    .card-items .card-headeres .card-image {
        margin-bottom: 10px;
    }
    .mediya{
        margin-bottom: 30px;
    }
  }
  @media only screen and (max-width: 767px){
    .baner-section .header-content-area h1 {
        font-size: 40px;
        text-align: center;
    }
    .baner-section .header-content-area .baner-sub-title {
       text-align: center;
       margin: 0 auto;
       margin-bottom: 50px;
    }
    nav{
        display: none;
    }
    .why-anncar .all-cards .card-items {
        text-align: center;
    }
    .image-box {
        text-align: center;
        margin-bottom: 70px;
    }
    .cards-section {
        text-align: center;
    }
    .cards-section .parents-cards .card-heading::after {
        left: 43%;
    }
    .parents-cards .card-texts {
        margin: 0 auto;
    }
    .parents-cards {
        margin-bottom: 50px;
    }
    .top-brands .brands-main-heading {
        text-align: center;
    }

    .top-brands .brands-main-heading::after {
        left: 34%;
    }
    .top-brands .imgs-div {
        text-align: right;
        position: relative;
        margin-top: 50px;
    }
    .your-need-section .need-text-box {
        top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    }
  }