@media only screen and (max-width: 1173px) {
 	/* with About Section */
  .span_1_of_2_with_40{
  	width: 40%;
  }
  .img-section .home-heading{
  	left: 52.5%;
  }
}

@media only screen and (max-width: 1143px) {
  	/*With Contect Form*/
  form .number-1:first-child{
  	margin-right: 24px;
  }
}
@media only screen and (max-width: 1152px) {
  	/*With About 1st Card */
  .about-card-in-3{
  	padding: 30px 24px 40px 24px;
  }
}
@media only screen and (max-width: 1146px) {
  	/*With About 1st Card */
  .about-card-in-3{
  	padding: 30px 20px 40px 20px;
  }
}
@media only screen and (max-width: 1138px) {
	/*With Home Heading*/
  .img-section .home-heading{
  	left: 52.5%;
  }
  	/*With Services Card*/
 .servie-card{
  	width: 30%;
  }
}
@media only screen and (max-width: 1120px) {
	/*With manu ber*/
nav ul li a{
	padding: 42px 22px 36px 22px;
}
	/*With Home Heading*/
  .img-section .home-heading{
  	left: 50.5%;
  }
  	/*With About 1st Card */
  .about-card-in-3{
  	width: 32.13%;
  	margin: 0 8px;
  }
  /*With About Content*/
  .about-section .span_1_of_2_with_60{
  	margin-top: 15px;
  }
}
@media only screen and (max-width: 1105px) {
  	/*With Contect Form*/
  form .number-1:first-child{
  	margin-right: 23px;
  }
}
@media only screen and (max-width: 1066px) {
  	/*With Contect Form*/
  form .number-1:first-child{
  	margin-right: 22px;
  }
}
@media only screen and (max-width: 1086px) {
	/*With Home Heading*/
	.img-section .home-heading{
		left: 48.5%;
	}
  	/*With about card*/
  .about-card-in-3{
  	padding: 30px 19px 40px 19px;
  }
}
@media only screen and (max-width: 1031px) {
  	/*With Contect Form*/
  form .number-1:first-child{
  	margin-right: 21px;
  }
}
@media only screen and (max-width: 1000px) {
  	/*With Contect Form*/
  .right-24{
  	margin-top: 100px;
  }
 }
 @media only screen and (max-width: 992px) {
  	/*With About Section underline*/
  .about-section h2{
  	margin-bottom: 15px;
  }
  	/*With Contect Form*/
  form .number-1{
  	width: 100%;
  }
 }
 @media only screen and (max-width: 960px) {
  	/*With Manu ber*/
  nav ul li a{
  	padding: 42px 20px 36px 20px;
  }
  /*Home Page*/
  .img-section .home-heading{
  	top: 15%;
  }
   h2{
 	margin-top: 45px;
	margin-bottom: 30px;
  }
  .hadding-border{
  	margin-bottom: 45px;
  }
  .offer-option p{
  	margin-bottom: 70px;
  }
  .about-section{
  	padding: 38px 0 36px 0;
  }
  .about-border{
  	margin-bottom: 18px;
  }
  .gallery-btn{
  	margin-bottom: 50px;
  }
  .home-contact p{
  	padding: 55px 0;
  }
  .home-contact{
  	margin-bottom: 50px;
  }
  .home-futter-icon ul{
  	margin-bottom: 57px;
	margin-top: 26px;
	margin-left: 8px;
  }
  /* Servise Page */
  .servise-details{
  	padding: 75px 0;
  }
  /* About Page */
  .about-card{
  	padding: 75px 0 70px 0;
  }
  .about-text p{
  	padding: 28px 0;
  }
  .sed-card{
  	padding: 34px 0 34px 0;
  }
  .icon-about{
  	height: 70px;
	width: 70px;
  }
 }





 @media only screen and (max-width: 957px){
 	.about-card-in-3 {
  padding: 30px 18px 40px 18px;
}
 }
@media only screen and (max-width: 951px){
 	.about-card-in-3 {
  width: 48%
  
}
.about-card-in-3:last-child{
left: 24%;
margin-top: 16px;
}
.card-parents{
	display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
grid-column-gap: 22px;
align-content: center;
grid-row-gap: 22px;
}
.sed-cards{
	display: inline-grid;
	justify-content: center;
}
.sed-cards:last-child{
	left: 50%;
}
.servie-card {
  width: 48%;
  text-align: center;
}
.servie-card:last-child{
	  margin-top: 14px;
  margin-left: 26%;
}
}

@media only screen and (max-width: 933px){
	/*manu ber*/
 	nav ul li a {
  padding: 42px 17px 36px 17px;
  margin-left: 5px;
}
/* Home heading */
.img-section .home-heading {
  left: 50.5%;
}

@media only screen and (max-width: 911px){
	.left-74 {
	width: 80%;
	margin: 0 auto;
	float: none;
}
.right-24 {
	width: 79%;
	margin: 0 auto;
	margin-top: 40px;
	float: none;
}
.offer-section .offer-option {
  max-width: 790px;
}
.img-section .home-heading {
	left: 48.5%;
}
.contact-us{
	margin-bottom: 40px;
}
}

 @media only screen and (max-width: 901px){
.about-section .span_1_of_2_with_60 {
  margin-top: 0;
}
}

 @media only screen and (max-width: 877px){
.about-card-in-3 {
  padding: 20px 16px 30px 16px;
}
.gallery {
  margin-top: 55px;
  margin-bottom: 45px;
}
.home-heading p:first-child {
	font-size: 16px;
line-height: 19px;
}
.home-heading h1{
	  font-size: 56px;
  line-height: 63px;
}
.home-heading .home-btn {
  margin-top: 25px;
}
h2, .about-section h2{
	font-size: 24px;
}
.home-contact p{
	font-size: 20px;
}
.home-contact p a {
  font-size: 26px;
}
.about-page .span_1_of_2_with_60 h2 {
    font-size: 26px;
  line-height: 32px;
}
p{
	font-size: 14px;
}
}
 @media only screen and (max-width: 869px){
 	.about-card-in-3 p{
 		font-size: 14px;
		line-height: 20px
 	}
 	.about-card-in-3 {
  padding: 17px 10px 24px 10px;
}
 }
 @media only screen and (max-width: 865px){
.servie-card {
  width: 46%;
}
 }
 @media only screen and (max-width: 801px){
 	.phn .phone-manu ul li img{
 		margin-top: 10px;
 	}
 	.manu-ber {
  		display: none;
	}
	.phn{
		display: block;
	}
	.img-section .home-heading {
  left: 44.5%;
}
.span_1_of_3 {
  width: 30%;
}
.offer-section .offer-option {
  max-width: 760px;
}
.offer-option{
	display: flex;
justify-content: center;
 }
 .about-section .col-1{
 	float: none;
 }
 .span_1_of_2_with_40{
 	width: 50%;
 	margin: 0 auto;
 }
 .span_1_of_2_with_60{
 	width: 100%;
 	text-align: center;
 }
 .about-section .span_1_of_2_with_60 {
  margin-left: 0;
  
}
.about-section h2 {
  text-align: center;
}
.about-border{
	display: none;
}
.phn-underline{
	display: block;
}
.hadding-border {
  margin-bottom: 10px;
}
.about-des, .about-des-2{
	margin: 0 auto;
}
.gallery-btn{
	margin: 20px 0;
}
.home-contact p {
  padding: 30px 0;
}
.home-finishing p{
	padding: 18px 0;
	font-size: 14px;
}
.home-futter-icon ul {
  margin-bottom: 30px;
}
.openbtn{
	top: 7px;
}
}
@media only screen and (max-width: 793px){
	.about-card-in-3 {
  padding: 7px 0 14px 0;
}

}

@media only screen and (max-width: 736px){
	.home-heading h1 {
  font-size: 50px;
  line-height: 56px;
}
	p {
  font-size: 13px;
}
.about-section .span_1_of_2_with_40 {
  width: 75% !important;
  margin: 0 auto;
}
.home-finishing p {
  padding: 18px 0;
  font-size: 13px;
}
.servise-details h4 {
    margin-bottom: 4px;
}	
}














@media only screen and (max-width: 752px){
	.about-card {
  padding: 35px 0 30px 0;
}
	.about-card-in-3 {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}
.about-card-in-3:last-child {
  left: 0;
  margin-top: 10px;
}
.sed-cards:last-child{
	left: 0;
}
.card-parents {
	display: block;
}
.sed-cards{
	width: 100%;
}
.sed-card .card-parents p{
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
}
.sed-card .card-parents h3{
	margin: 0;
}
}
@media only screen and (max-width: 749px){
	.top-ber .span_1_of_2 {
  width: 43%;
}
}
@media only screen and (max-width: 701px){
	.contact-us {
  margin-top: 30px;
}
home-heading p:first-child {
  font-size: 14px;
  line-height: 16px;
}
.home-heading p {
  font-size: 12px;
}
.home-heading h1 {
  font-size: 40px;
  line-height: 46px;
}
.img-section .home-heading {
  left: 50%;
}
.home-heading .home-btn a {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 23px;
}
.servie-card {
  width: 80%;
  margin: 0 auto;
  float: none;
  margin-bottom: 20px;
}
.servie-card:first-child {
  margin-left: auto;
}
.servie-card:last-child {
  margin: auto;
}
.servise-details {
  padding: 50px 0;
}
.servise-details h4 {
  font-style: 22px;
  line-height: 28px;
  margin-top: 2px;
  margin-bottom: 2px;
}
}
@media only screen and (max-width: 662px){
	.top-ber .span_1_of_2 {
  width: 38%;
}
.gallery-phone{
	padding-top: 25px;
}
.gallery-phone {
  padding-top: 0;
}
.gallery-phone h2{
	margin-top: 16px;
}
/*.phone-manu ul li img{
	display: none;
}*/
/*.phn {
   height: 43px;
}
.phone-manu ul li a {
  margin-top: 7px;
  display: inline-block;
}*/
.gallery-section{
	display: none;
}
.gallery-phone{
	display: block;
}
.span_1_of_3_cards {
  margin: 8px 5px 8px 5px;
  width: 40%;
}
.span_1_of_3_cards {
  width: 40%;
}
.col-card:first-child {
  margin-left: 55px;
}
.col-card:nth-child(3){
	margin-left: 55px;
}
.col-card:nth-child(5){
	margin-left: 55px;
}
.col-card:nth-child(7){
	margin-left: 55px;
}
.img-section .home-heading {
  left: 48%;
}
.sidepanel{
	/*width: calc(100% + 32%);*/
height: 100vh;
}
.sidepanel a{
	padding: 16px 8px 16px 8px;
}
.gallery-phone{
	padding-top: 15px;
}
}
@media only screen and (max-width: 636px){
	.img-section .home-heading {
  left: 46%;
}
.contact-us form .number-1, .number-2, .number-3{
	padding-left: 5px;
}
}



@media only screen and (max-width: 620px){
	.img-section .home-heading {
  left: 46%;
}
.left-74 p{
	font-size: 14px;
	line-height: 20px;
}
}
@media only screen and (max-width: 612px){
	.top-ber .span_1_of_2 {
  width: 30%;
}
.img-section .home-heading {
  left: 43%;
}
}
@media only screen and (max-width: 601px){
	.about-text p {
  font-size: 18px;
  line-height: 24px;
}
.img-section .home-heading {
  left: 40%;
  top: 11%;
  text-align: center;
}
.about-heading h3 {
  font-size: 27px;
  line-height: 34px;
}
.about-heading p {
  font-size: 12px;
  line-height: 18px;
}
.about-heading {
  text-align: center;
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 601px){
	.top-ber .contact a {
  color: #fff;
  margin-left: 3px;
  margin-right: 20px;
  font-size: 12px;
}
.top-ber .icon a i {
  color: #fff;
  margin-left: 20px;
  transition: .2s;
}
@media only screen and (max-width: 569px){
	.about-section .span_1_of_2_with_40 {
  width: 98% !important;
  margin: 0 auto;
}
}
@media only screen and (max-width: 547px){
	.img-section .home-heading {
  left: 38%;
  top: 11%;
  text-align: center;
}

}
@media only screen and (max-width: 534px){
	.img-section .home-heading {
  left: 36%;
  top: 8%;
  text-align: center;
}
}
@media only screen and (max-width: 511px){
	.home-contact p {
  font-size: 18px;
  padding: 26px 0;
}
.home-finishing p {
  padding: 14px 0;
  font-size: 12px;
}
.img-section .home-heading {
  left: 30%;
  top: 8%;
  text-align: right;
}
}
@media only screen and (max-width: 504px){
	.home-heading h1 {
  font-size: 30px;
  line-height: 36px;
}
.home-contact p {
  font-size: 16px;
  padding: 26px 0;
}
.home-heading p:first-child {
  font-size: 14px;
  line-height: 18px;
}
.S-A-G-C-img img {
  width: 100%;
  height: 15vh;
}
.phone-manu ul li:last-child{
	margin-left: -60px;
}
}
@media only screen and (max-width: 491px){
	.home-heading .home-btn {
  margin-top: 15px;
}
}
@media only screen and (max-width: 491px){
	.home-heading h1 {
  font-size: 31px;
  line-height: 37px;
}
.home-heading p:first-child {
  font-size: 13px;
  line-height: 15px;
}
.home-heading .home-btn a {
  font-size: 12px;
  line-height: 18px;
  padding: 8px 10px;
}
.img-section .home-heading {
  left: 23%;}
}
@media only screen and (max-width: 472px){
	.offer-option {
  display: block;
  justify-content: center;
}
.offer-option p {
  margin-bottom: 10px;
}
.option-1, .option-2, .option-3{
	display: block;
	width: 100%;
	text-align: center;
}
offer-option p {
  margin-bottom: 5px;
  margin-top: 25px;
}
h2, .about-section h2 {
  font-size: 22px;
  margin-top: 28px;
margin-bottom: 25px;
}
.about-section h2 {
    margin-top: -4px;
  }
  .col-card:nth-child(3) {
  margin-left: 44px;
}
.col-card:nth-child(5) {
  margin-left: 44px;
}
.col-card:nth-child(7) {
  margin-left: 44px;
}
.col-card:first-child {
  margin-left: 44px;
} 
}
@media only screen and (max-width: 460px){
	.home-contact p{
		max-width: 280px;
	}
	.home-contact{
		background-color: #173a69;
	}
	.home-finishing p{
		max-width: 223px;
	}
	.home-finishing{
		display: flex;
justify-content: center;
background-color: #000;
	}
}
@media only screen and (max-width: 451px){
	.top-ber .icon a i {
  margin-left: 5px;
  }
  .top-ber .contact a {
  
  margin-right: 5px;
  
}
.sidepanel {
 
  right: -62px;
}
@media only screen and (max-width: 429px){
	.about-text p {
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
}
.img-section .home-heading {
  left: 15%;
}
.img-section img {
  width: 100%;
  height: 18vh;
}
}
@media only screen and (max-width: 408px){
	.top-ber .span_1_of_2 {
  width: 20%;
}
.home-heading .home-btn {
  margin-top: 10px;
}
h2{
	margin-top: 38px;
margin-bottom: 18px;
font-size: 22px;
}
.sidepanel {
  right: -38px;
}
.col-card:nth-child(3) {
  margin-left: 36px;
}
.col-card:nth-child(5) {
  margin-left: 36px;
}
.col-card:nth-child(7) {
  margin-left: 36px;
}
.col-card:first-child {
  margin-left: 36px;
} 
.home-heading{
	top: 20px;
}
}
@media only screen and (max-width: 400px){
	.about-page h2{
		max-width: 268px;
text-align: center;
margin: 0 auto;
	}
	.about-page .hadding-border{
		margin-top: 20px;
	}
	.overlay-text p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.overlay-text p i {
  font-size: 15px;
  line-height: 19px;
  font-weight: 300;
}
}
@media only screen and (max-width: 389px){
	.img-section .home-heading {
  left: 10%;
}
.home-heading .home-btn {
  margin-top: 20px;
}
.overlay-text p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.overlay-text p i {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
}
@media only screen and (max-width: 375px){
 .top-ber .icon{
 	display: none;
 }
 .top-ber .contact{
 	margin-left: 45px;
 }
 .about-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
h2 {
  margin-top: 34px;
  margin-bottom: 18px;
  font-size: 20px;
}
.phone-manu ul li:last-child {
  margin-left: -70px;
}
}
@media only screen and (max-width: 365px){
	.img-section .home-heading {
  left: 7%;
}
.sidepanel {
  right: -37px;
}
.S-A-G-C-img img {
  width: 100%;
  height: 14vh;
}
.servise-details .container{
	padding: 0;
}
}
@media only screen and (max-width: 355px){
.home-finishing p {
  padding: 5px 0;
  font-size: 12px;
}
.img-section .home-heading {
  left: 5%;
}
.phone-manu ul li a{
	font-size: 18px;
}
.offer-option p {
  margin-top: 6px;
  
}
.col-card:nth-child(1) {
  margin-left: 31px;
}
.col-card:nth-child(3) {
  margin-left: 31px;
}
.col-card:nth-child(5) {
  margin-left: 31px;
}
.col-card:nth-child(7) {
  margin-left: 31px;
}
form .number-1, .number-1, .number-2 {
  height: 30px;
  margin-bottom: 14px;
}
.right-24 ul li img {
  margin-right: 16px;
}
.top-ber .contact {
  margin-left: 20px;
}
.top-ber .contact a {
  margin-right: 15px;
}
}
@media only screen and (max-width: 345px){
	.img-section .home-heading {
  text-align: center;
  left: 3%;
}
.phone-manu ul{
	margin-left: -28px;
}
.home-contact p {
  font-size: 15px;
  padding: 10px 0;
}
.home-heading p {
  font-size: 11px;
}
.img-section .home-heading {
  text-align: center;
 left: 9%;
}
.top-ber .contact {
  margin-left: 0;
}
.phone-manu ul {
  margin-left: -24px;
}
.about-heading h3 {
  font-size: 25px;
  line-height: 31px;
}
}
@media only screen and (max-width: 330px){
	.top-ber .icon {
		display: none;

	}
	.img-section .home-heading {
  left: 11%;
  top: 14%;
}
.home-heading .home-btn a {
  font-size: 12px;
  line-height: 16px;
  padding: 5px 6px;
}
.home-heading h1 {
  font-size: 24px;
  line-height: 25px;
}
.home-heading p {
  font-size: 10px;
}
.span_1_of_3_cards {
  width: 80%;
}
.col-card{
	margin-left: 25px;
}
.col-card:nth-child(1) {
  margin-left: 25px;
}
.col-card:nth-child(3) {
  margin-left: 25px;
}
.col-card:nth-child(5) {
  margin-left: 25px;
}
.col-card:nth-child(7) {
  margin-left: 25px;
}
.sidepanel a{
	font-size: 15px;
}
.right-24 {
  width: 100%;}
}
@media only screen and (max-width: 321px){
	h2 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
}
p {
  font-size: 12px;
}
.left-74 {
  width: 100%;
  margin: 0 auto;
  float: none;
}
}
@media only screen and (max-width: 319px){
	.top-ber .contact a {
  margin-right: 10px;
}
}
